@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Roboto:wght@300&display=swap');

/* Places body properly below nav and sets mobile background color */
body {
    padding-top: 100px;
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

/* Sets mobile main parameters */
main {
    width: 100%;
    margin: auto;
    background-color: #f1f1f1;
}

/* Creates pseudo variable for background color to be recalled in multiple places */
:root {
    --background: rgba(51, 51, 51);
}



/*-----------------------------------------------------------*/
/*                         Home Page                         */
/*-----------------------------------------------------------*/
/* Creates grid, sets color and fixes overflow */
.Wrapper {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    overflow-wrap: break-word;
    margin: auto;
}

/* Centers and pads top of page quote */
.IndexQuote {
    grid-row: 1;
    display: flex;
    padding: 1.5em;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
}

/* Centers and pads profile picture */
.IndexProfilePic {
    grid-row: 2;
    align-items: center;
    text-align: center;
    padding-bottom: 2em;
}

/* Rounds corners of image and sets width */
.IndexProfilePic img {
    margin-top: 2em;
    width: 250px;
    border-radius: 40px;
}

/* Place about me in grid */
.IndexAboutMe {
    grid-row: 3 / 4;
}

/* Style the h2 */
.IndexAboutMe h2 {
    font-size: 2em;
    text-align: center;
}

/* Style about me p */
.IndexAboutMe p {
    padding: 0 1.5em;
    font-size: 1.5em;
}

/* Styles skills area */
.IndexSkills {
    grid-row: 5;
    display: block;
    padding: 30px;
}

/* Setting h3 fonts */
.IndexSkills h3 {
    text-decoration: underline;
    text-align: center;
    padding-top: 1em;
    font-size: 1.5em;
}

/* Styling list */
.IndexSkills ul {
    text-align: center;
    padding-bottom: 0.25em;
    padding-top: 0.5em;
    padding-left: 0;
    font-size: 1.5em;
    text-decoration: none;
    list-style: none;
}

/* Spaces out all list items */
.IndexSkills li:not(:first-of-type) {
    padding-top: 0.15em;
}
.IndexSkills li:not(:last-of-type) {
    padding-bottom: 0.15em;
}

/* Remove skills styles on links */
.IndexSkills a {
    text-decoration: none;
    color: black;
}

/* Remove abbr styles */
abbr {
    all: unset;
}



/*-----------------------------------------------------------*/
/*                     Tablet Media Query                    */
/*-----------------------------------------------------------*/
@media screen and (min-width: 768px) {
    /* Retrieve blue gradient */
    body {
        background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    }

    /* Sets color and other elements of main */
    main {
        border-radius: 10px;
        box-shadow: 12px 12px 12px #404040;
        padding: 2em;
        width: 80%;
        margin: auto;
    }
}



/*-----------------------------------------------------------*/
/*                    Desktop Media Query                    */
/*-----------------------------------------------------------*/
@media screen and (min-width: 1024px) {
    /* Sets desktop grid */
    .Wrapper {
        grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr;
        grid-template-rows: .5fr .1fr 3fr;
    }

    /* Place quote in desktop grid */
    .IndexQuote {
        grid-column: 1 / 6;
        grid-row: 1;
    }

    /* Place in grid and remove all padding/margins */
    .IndexProfilePic {
        grid-column: 1 / 3;
        padding: 0;
        margin: 0;
    }

    .IndexAboutMe {
        grid-row: 2 / 4;
        grid-column: 3 / 6
    }

    /* Sets About Me label in grid */
    .IndexAboutMe h2 {
        align-items: center;
    }

    /* Sets paragraphs in grid and indents */
    .IndexAboutMe p {
        text-indent: 50px;
        font-size: 2em;
    }

    /* Sets skills in grid */
    .IndexSkills {
        grid-column: 1 / 3;
        grid-row: 3 / 5;
    }

    /* Align links to left */
    .IndexSkills ul {
        text-align: left;
    }
}



/*-----------------------------------------------------------*/
/*                     Experience Page                       */
/*-----------------------------------------------------------*/
.JobWrapper {
    display: block;
    margin: auto;
}

.JobHeader {
    text-align: center;
}

.JobHeader h1 {
    color: black;
    font-size: 2em;
}

.JobHeader p {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0;
}

.JobHeader button {
    margin-top: 20px;
    color: #dddddd;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgb(51, 51, 51);
    box-shadow: 5px 5px 5px #404040;
}

/* Sets cursor on hover for button */
.JobHeader button:hover {
    cursor: pointer;
}

.JobHeader button:active {
    transform: translate(5px, 5px);
}

.BlockContent a {
    color: black;
    font-size: 1em;
}

/* Set items to block */
.JobBlockGrid {
    display: block;
    text-align: center;
    padding-top: 3em;
}

/* Basic job image styles */
.JobBlockGrid img {
    width: 200px;
    padding: 0;
}

/* Basic styles for job info */
.Blockinfo {
    font-size: 1.25em;
}

/* Basic job description styles */
.JobBlockGrid p {
    font-size: 1.5em;
}

/* Remove abbreviation styles */
abbr {
    all: unset;
}

@media screen and (min-width: 768px) {
    /* Retrieve blue gradient */
    body {
        background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    }

    /* Sets color and other elements of main */
    main {
        border-radius: 10px;
        box-shadow: 12px 12px 12px #404040;
        padding: 2em;
        width: 80%;
        margin: auto;
    }

    /* Sets outer grid to encapsulate all content */
    .JobWrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(min-content, max-content);
        width: 95%;
        margin: auto;
    }

    .JobHeader button {
        margin-top: 0;
    }

    .JobHeader a {
        font-size: 1.5em;
    }

    /* Set header in outer grid */
    .JobHeader {
        grid-row: 1;
    }

    /* Style h1 */
    .JobHeader h1 {
        text-align: center;
    }

    /* Style header paragraph */
    .JobHeader p {
        text-indent: 50px;
        font-size: 1.25em;
        padding-bottom: 2em;
    }

    /* Styles Full Experience page paragraph */
    #JobSmallHeader {
        text-align: center;
        text-indent: 0;
    }

    /* Place inner grid within outer grid */
    .JobList {
        grid-row: 2;
    }

    /* Creates pages inner grid */
    .JobBlockGrid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: minmax(min-content, max-content);
    }

    /* Styles image in inner grid */
    .JobBlockGrid img {
        grid-column: 1;
        grid-row: 1;
        display: block;
        margin: auto;
        width: 200px;
    }

    /* Flex ensures vertical alignment is correct. Sets info in inner grid */
    .Blockinfo{
        grid-column: 2;
        grid-row: 1;
        display: flex;
        align-items: center;
        text-align: left;
        padding: 0 0 0 1em;
    }

    /* Ensures all content in block info stays on own line */
    .BlockContent {
        display: block;
    }

    /* Sets paragraph placement in inner grid */
    .JobBlockGrid p {
        grid-column: 1 / 3;
        grid-row: 2;
        text-indent: 50px;
        text-align: left;
    }
}



/*-----------------------------------------------------------*/
/*                       Projects Styles                     */
/*-----------------------------------------------------------*/

.ContactWrapper {
    display: grid;
}
.SocialBox img {
    width: 50%;
    max-height: 70px;
    max-width: 70px;
}
.SocialBox h3 {
    font-size: 1.5em;
}
.SocialBox a {
    all:unset;
    text-decoration: underline;
}
.SocialBox a:hover {
    cursor: pointer;
}
.SocialBox a:active {
    color: blue;
}
.ContactWrapper {
    display: block;
    margin: 5%;
}
.SocialLinkGrid {
    align-items: center;
}
.OuterSocial {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding-top: 1.5em;
    margin-bottom: 0;
    padding-bottom: 0;
}
.SocialBox {
    display: block;
    background-color: rgb(51, 51, 51);
    width: 100%;
}
.SocialBoxContainer {
    margin: 0 2em;
    padding: 0;
    color: white;
}
.SocialLinkGrid {
    display: grid;
    grid-template-columns: 3em 3em;
    grid-template-rows: 3em 3em;
    grid-gap: 0.5em;
    margin-bottom: 2em;
    justify-content: center;
}
#two {
    grid-column: 2;
    grid-row: 1;
}
#three {
    grid-column: 2;
    grid-row: 2;
}
#four {
    grid-column: 1;
    grid-row: 2;
}
.SocialBox img {
    width: 100%;
}
.SocialBox a {
    margin: 0;
    padding: 0;
}

.OuterSocial h2, .FormHeader h2 {
    text-align: center;
}
.ContactWrapper form {
    text-align: center;
    margin: auto;
}
.Form input, .Form textarea {
    display: block;
    border: none;
    border-bottom: 1px solid black;
    margin: auto auto 1em;
    text-align: left;
    background-color: lightgrey;
    width: 65%;
}
.Form textarea {
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

@media screen and (min-width: 1024px) {
    /* Retrieve blue gradient */
    body {
        background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    }

    /* Sets color and other elements of main */
    main {
        border-radius: 10px;
        box-shadow: 12px 12px 12px #404040;
        padding: 2em;
        width: 80%;
        margin: auto;
    }

    .ContactWrapper {
        display: grid;
        grid-template-columns: .4fr 1fr;
        grid-template-rows: auto 1fr;
        grid-gap: 1.5em;
    }

    .OuterSocial {
        padding-top: 0;
        text-align: left;
    }

    .SocialBox {
        grid-column: 1;
        grid-row: 1;
    }

    .SocialLinkGrid {
        justify-content: left;
    }

    .OuterSocial h2, .FormHeader h2, .FormHeader p, .Form label {
        text-align: left;
    }

    form {
        grid-column: 2;
        grid-row: 1 / 3;
        display: grid;
    }

    .Form {
        padding: 2em 1em 0 1.5em;
        background-color: white;
        border: 2px solid rgb(51, 51, 51);
        border-top: none;
        display: grid;
        grid-template-columns: .3fr 1fr;
        grid-row-gap: 2em;
    }

    .Form input, .Form textarea {
        width: 100%;
        margin-bottom: 0;
    }

    .FormHeader {
        max-width: 100%;
        background-color: rgb(51, 51, 51);
        padding: 1em;
        margin: 0;
        color: white;
    }

    .Form button {
        grid-column: 2;
        width: 4em;
        text-align: center;
        margin: auto 0 1em auto;
    }
}


/*-----------------------------------------------------------*/
/*                       Projects Styles                     */
/*-----------------------------------------------------------*/

/* Grid containing all main page elements */
.ProjectsWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, 1fr);
}

/* Paragraph describing the page */
.ProjectsDesc {
    grid-row: 1;
    text-align: center;
    margin: 0 1em 2em;
    font-size: 1.5em;
}
/* Show paragraph for mobile view */
.ProjectsDesc .mobile {
    display: block;
    font-size: 1em;
}
/* Hide desktop paragraph */
.ProjectsDesc .desktop {
    display: none;
    font-size: 1em;
}

/* Container for all project grids */
.ProjectsGroup {
    display: block;
    text-align: center;
    padding-bottom: 1em;
}
/* Container for each type of project */
.Android, .Python, .Web {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(250px, 100%/3)), 1fr));
}

.ProjectsGroup a {
    text-decoration: none;
    color: blue;
}

/* Container for each individual project */
.SingleProject {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}

/* Hide image text and overlay on image */
.SingleProject h2{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* Define image sizing */
.SingleProject img {
    width: 250px;
    height: 150px;
}

/* On hover, make image opaque */
.SingleProject img:hover {
    opacity: .3;
    transition: 300ms ease-in-out;
}

/* On hover make h2 after image visible */
.SingleProject img:hover ~ h2 {
    opacity: 1;
    transition: 300ms ease-in-out;
}

/* Desktop media query */
@media screen and (min-width: 1024px) {
    /* Grid containing all main page elements */
    .ProjectsWrapper {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 1fr;
    }
    /* Hide mobile paragraphs */
    .ProjectsDesc .mobile {
        display: none;
    }
    /* Show desktop paragraph */
    .ProjectsDesc .desktop {
        display: block;
    }

    /* Place description in desktop grid */
    .ProjectsDesc {
        grid-row: 1;
        grid-column: 1;
        text-align: left;
        margin: 0 1em auto auto;
    }
    /* Define grid for each project group */
    .Android, .Python, .Web {
        grid-row: 1;
        grid-column: 2;
    }
}



/*-----------------------------------------------------------*/
/*                      Scrollbar Styles                     */
/*-----------------------------------------------------------*/

::-webkit-scrollbar {
    width: 10px;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 20%);

}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5);
}



/*-----------------------------------------------------------*/
/*                         Nav Styles                        */
/*-----------------------------------------------------------*/

/* Remove any browser default styles */
nav img, nav h1, nav h2, nav h3, nav p, nav li, nav ul {
    margin: 0;
    padding : 0;
}

/* Sets header to top of page, sets color and aligns logo */
header {
    position: fixed;
    background-color: var(--background);
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

/* Set image to proper size and apply top/bottom margins */
header img {
    margin: 10px 0;
    max-height: 200px;
    width: 250px;
}

/* Place nav to center in mobile view */
nav {
    display: none;
    text-align: center;
    left: 0;
}

/* Remove bullets and any padding or margins applied by the ul */
nav ul {
    text-decoration: none;
    list-style: none;
}

/* Set case, and space out list elements */
nav li {
    text-transform: uppercase;
    padding: 10px;
    font-weight: 400;
    font-size: 1.25rem;
}

/* Set link and visited styles for nav links*/
nav a, nav a:visited{
    text-decoration: none;
    color: #dddddd;
}

/* Set hover and active styles for nav links */
nav a:hover, nav a:active {
    color: #000;
    /* Transition animation for color change */
    transition: 250ms ease-in-out;
}



/*-----------------------------------------------------------*/
/*                      Nav Toggle Styles                    */
/*-----------------------------------------------------------*/

/* Check if box is checked, by looking for first
preceding sibling of nav which is the checkbox */
.ToggleNav:checked ~ nav{
    display: block;
}

/* Hide checkbox */
.ToggleNav {
    display: none;
}

/* Set position to top left corner of header */
.ToggleNavLabel {
    position: absolute;
    top: 30px;
    left: 0;
    margin-left: 1em;
    height: 40px;
    display: flex;
    align-items: center;
}

/* Set Style for each line of hamburger in menu */
.ToggleNavLabel span, .ToggleNavLabel:before, .ToggleNavLabel:after {
    display: block;
    background: white;
    height: 3px;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
}

/* Needed for top and bottom lines to display as a stack */
.ToggleNavLabel:before, .ToggleNavLabel:after {
    content: "";
    position: absolute;
}

/* Set bottom line position */
.ToggleNavLabel:before {
    bottom: 10px;
}

/* Set top line position */
.ToggleNavLabel:after {
    top: 10px;
}



/*-----------------------------------------------------------*/
/*                    Desktop Media Query                    */
/*-----------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
    /* Create grid for header */
    header {
        display: grid;
        grid-template-columns: 0.25fr 1fr 3fr 0.25fr;

    }

    /* Place logo in grid and apply left margin */
    header a img {
        grid-column: 2 / 3;
        margin-left: 30px;
    }

    /* Place nav into grid */
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    /* Set all list elements to flex to make inline */
    nav ul{
        display: flex;
        justify-content: flex-end;
    }

    /* Hide hamburger menu button */
    .ToggleNavLabel {
        display: none;
    }
}

header h1 {
    display: none;
}

@media screen and (max-width: 350px) {
    header img {
        width: 50%;
        margin: 25px 100px;
    }
    .ToggleNav {
        position: absolute;
        top: 10px;
    }
}