@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Roboto:wght@300&display=swap');

/* Places body properly below nav and sets mobile background color */
body {
    padding-top: 100px;
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

/* Sets mobile main parameters */
main {
    width: 100%;
    margin: auto;
    background-color: #f1f1f1;
}

/* Creates grid, sets color and fixes overflow */
.Wrapper {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    overflow-wrap: break-word;
    margin: auto;
}

/* Centers and pads top of page quote */
.IndexQuote {
    grid-row: 1;
    display: flex;
    padding: 1.5em;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Centers and pads profile picture */
.IndexProfilePic {
    grid-row: 2;
    align-items: center;
    text-align: center;
    padding-bottom: 2em;
}

/* Rounds corners of image and sets width */
.IndexProfilePic img {
    margin-top: 2em;
    width: 250px;
    border-radius: 40px;
}

/* Place about me in grid */
.IndexAboutMe {
    grid-row: 3 / 4;
}

/* Style the h2 */
.IndexAboutMe h2 {
    font-size: 2em;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1.5em;
}

/* Style about me p */
.IndexAboutMe p {
    padding: 0 2em;
    font-size: 1.5em;
}

/* Styles skills area */
.IndexSkills {
    grid-row: 5;
    display: block;
    padding: 30px;
}

/* Setting h3 fonts */
.IndexSkills h3 {
    text-decoration: underline;
    text-align: center;
    padding-top: 1em;
    font-size: 1.5em;
}

/* Styling list */
.IndexSkills ul {
    text-align: center;
    padding-bottom: 0.25em;
    padding-top: 0.5em;
    font-size: 1.5em;
    text-decoration: none;
    list-style: none;
}

/* Unstyle skills links */
.IndexSkills a {
    text-decoration: none;
    color: black;
}

/* Remove abbr styles */
abbr {
    all: unset;
}



/*-----------------------------------------------------------*/
/*                    Desktop Media Query                    */
/*-----------------------------------------------------------*/
@media screen and (min-width: 1024px) {
    /* Retrieve blue gradient */
    body {
        background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    }

    /* Sets color and other elements of main */
    main {
        border-radius: 10px;
        box-shadow: 12px 12px 12px #404040;
        padding: 2em;
        width: 80%;
        margin: auto;
    }

    /* Sets desktop grid */
    .Wrapper {
        grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr;
        grid-template-rows: .01fr .01fr 3fr;
    }

    /* Place quote in desktop grid */
    .IndexQuote {
        grid-column: 1 / 6;
        grid-row: 1;
    }

    /* Place in grid and remove all padding/margins */
    .IndexProfilePic {
        grid-column: 1 / 3;
        padding: 0;
        margin: 0;

    }

    .IndexAboutMe {
        grid-row: 2 / 4;
        grid-column: 3 / 6
    }

    /* Sets About Me label in grid */
    .IndexAboutMe h2 {
        align-items: center;
    }

    /* Sets paragraphs in grid and indents */
    .IndexAboutMe p {
        text-indent: 50px;
        font-size: 2em;
    }

    /* Sets skills in grid */
    .IndexSkills {
        grid-column: 1 / 3;
        grid-row: 3 / 5;
    }

    .IndexSkills ul {
        text-align: left;
    }
}



